html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font: 10px 'Lato Regular', 'Tahoma', sans-serif;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
ol, ul { list-style: none; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a, a:hover { text-decoration: none; }
h1 {
  font: 3rem 'Titillium Web';
  color: #858688;
  font-weight: 700;
}
h1 span{
  color: #5B4295;
}
h2 {
  font: 6rem 'Titillium Web';
  font-weight: 700;
  letter-spacing: 0.03rem;
  color: #858688;
}
h3 {
  font: 3.6rem/40px 'Titillium Web';
  letter-spacing: 0.03rem;
  color: #858688;
} 
h3 span {
  color: #5B4295;
  font-weight: 700;
}
.show {
  display: flex;
}
.container {
  max-width: 1402px;
  margin: 0 auto;
}
header .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  min-height: 232px;
  max-height: 280px;
  margin-bottom: 25px;
}
.langs-wrap {
  order: 1;
  margin-right: auto;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.langs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 3px;
}
.langs li{
  position: relative;
  margin-right: 4px;
  padding: 10px;
  font: 1.4rem 'Titillium Web';
  letter-spacing: 0.04rem;
  color: #959595;
  cursor:pointer;
}
.langs li::after{
  position: absolute;
  content:  '/' ;
  right: -4px;
}
.langs li:first-child {
  padding-left: 0;
}
.langs li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.langs li:last-child::after{
  content: '';
}
.langs span {
  position: relative;
}
.langs .active span:before,
.langs li:hover span:before {
  position: absolute;
  bottom: -6px;
  height: 1px;
  left: 0;
  width: 100%;
  background: #959595;
  content: '';
}
.langs .active,
.langs li:hover{
  font-weight: 700;
}
.nav-wrapper {
  order: 3;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 43px;
}
nav a{
  position: relative;
  padding: 10px;
  margin-right: 6px;
  font: 1.6rem 'Titillium Web';
  letter-spacing: 0.1rem;
  color: #454545;
}
nav span{
  position: relative;
}
nav span:hover:after{
  position: absolute;
  bottom: -6px;
  height: 1px;
  left: 0;
  width: 100%;
  background: #454545;
  content: '';
}
nav a:last-child{
  margin-right: 0px;
}
.authorization{
  order: 5;
  margin-bottom: 37px;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.button-decorate,
.button-undecorate {
  padding: 11px 40px 14px;
  font: 1.6rem 'Titillium Web';
  font-weight: 700;
  color: #454545;
  border: 0;
  background: none;
  border-radius: 23px;
  letter-spacing: 0.04rem;
  cursor: pointer;
}
.button-undecorate i {
  letter-spacing: 1.05rem;
  color: #582C7E;
}
.button-undecorate:hover {
  color: #5D7DEA;
}
.button-undecorate:hover i{
  color: #5D7DEA;
}
.authorization .button-decorate {
  background: #582C7E;
  background: -webkit-linear-gradient(-45deg, #6379D0, #582C7E);
  background: -o-linear-gradient(-45deg, #6379D0, #582C7E);
  background: -moz-linear-gradient(-45deg, #6379D0, #582C7E);
  background: linear-gradient(-45deg, #6379D0, #582C7E);
  color: #fff;
  box-shadow: 0px 5px 5px rgba(20, 80, 204, 0.37);
}
.authorization .button-decorate:hover {
  background: -webkit-linear-gradient(-45deg, #6379D0 60%, #582C7E);
  background: -o-linear-gradient(-45deg, #6379D0 60%, #582C7E);
  background: -moz-linear-gradient(-45deg, #6379D0 60%, #582C7E);
  background: linear-gradient(-45deg, #6379D0 60%, #582C7E);
}
.intro-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 540px;
  background: url(../assets/img/introduce1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.intro-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-top: 40px;
}
.intro-block h2{
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.intro-block h3{
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.user-information {
  display: flex;
  align-items: center;
  margin-top: 74px;
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.user-information button {
  margin-right: 24px;
}
.user-information .button-decorate{
  padding: 13px 62px 16px;
  font: 1.8rem 'Titillium Web';
  font-weight: 700;
  background: #6D4970;
  background: -webkit-linear-gradient(-90deg, #5F2E69, #646C92 80%);
  background: -o-linear-gradient(-90deg, #5F2E69, #646C92 80%);
  background: -moz-linear-gradient(-90deg, #5F2E69, #646C92 80%);
  background: linear-gradient(-90deg, #5F2E69, #646C92 80%);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
}
.user-information>.button-decorate{
  box-shadow: 0px 6px 6px rgba(20, 80, 204, 0.57);
}
button:active {
  transform: translateY(4px);
}
.user-information .button-decorate:hover {
  background: #646C92;
}
.user-information>.button-decorate:hover {
  background: -webkit-linear-gradient(-90deg, #5F2E69, #646C92 30%);
  background: -o-linear-gradient(-90deg, #5F2E69, #646C92 30%);
  background: -moz-linear-gradient(-90deg, #5F2E69, #646C92 30%);
  background: linear-gradient(-90deg, #5F2E69, #646C92 30%);
}
.corporations {
  font-size: 0;
}
.corporations li {
  position: relative;
  display: inline-block;
  margin-right: 21px;
}
.corporations li:last-child {
  margin-right: 0px;
}
.corporations .button-decorate {
  padding: 23px;
  border-radius: 50%;
  background: #704982;
}
.corporations .change-bg {
  background: #5F4072;
}
.corporations i {
  position: absolute;
  top: 10px;
  left: 13px;
  font: 2.4rem "Font Awesome 5 Brands";
}
.sotials {
  position: fixed;
  right: 15px;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  z-index: 10;
  animation-duration: 1s;
  animation-delay: 0.6s;
}
.sotials li:hover a {
  color: #5D7DEA;
}
.sotials a{
  font-size: 4rem;
  color: rgba(163, 76, 178, 0.8);
}
.advantage {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  max-width: 1402px;
  min-height: 350px;
  margin: 0 auto;
  padding-left: 85px;
  padding-top: 60px;
}
.advantage-block {
  position: relative;
  max-width: 380px;
  margin: 20px 0;
  padding: 10px;
}
.advantage-block:after {
  position: absolute;
  display: block;
  background: #B9B9B9;
  content: '';
  z-index: -1;
}
.advantage-block:nth-child(1):after {
  top: -115px;
  right: -6%;
  width: 1px;
  height: 208px;
}
.advantage-block:nth-child(2):after {
  top: 15px;
  right: -4%;
  width: 1px;
  height: 460px;
}
.advantage-block:nth-child(3):after {
  top: 15px;
  left: 110%;
  width: 10000%;
  height: 1px;
}
.advantage .advantage-block{
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.advantage .advantage-block:nth-child(1) {
  background: url(../assets/img/icon-advantage1.png) no-repeat -5px 5px;
  animation-delay: 0.2s;
}
.advantage .advantage-block:nth-child(2) {
  background: url(../assets/img/icon-advantage2a.png) no-repeat -22px -7px;
  animation-delay: 0.4s;
}
.advantage .advantage-block:nth-child(3) {
  background: url(../assets/img/icon-advantage3.png) no-repeat -10px 10px;
  animation-delay: 0.6s;
}
.advantage-block h3 {
  font: 3rem/37px 'Titillium Web';
  letter-spacing: 0.04rem;
  color: #555555;
}
.advantage .advantage-block:nth-child(1) h3,
.advantage .advantage-block:nth-child(1) h4 {
  padding-left: 58px;
}
.advantage .advantage-block:nth-child(2) h3,
.advantage .advantage-block:nth-child(2) h4 {
  padding-left: 66px;
}
.advantage .advantage-block:nth-child(3) h3,
.advantage .advantage-block:nth-child(3) h4 {
  padding-left: 55px;
}
.advantage-block h4 {
  font: 1.8rem/20px 'Titillium Web';
  letter-spacing: 0.02rem;
  color: #959393;
}
.advantage-block p {
  margin-top: 31px;
  font: 1.4rem/22px 'Titillium Web';
  color: #959393;
}
.security .container {
  margin-bottom: 157px;
}
.security-header {
  position: relative;
  left: 50%;
  max-width: 740px;
  margin-left: -535px;
  padding-top: 16px;
  text-align: right;
}
.security h2{
  margin-right: -3px;
  font: 6rem 'Titillium Web';
  letter-spacing: 0.07rem;
  color: #535353;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.security h3{
  font: 2.4rem/36px 'Titillium Web';
  color: #959393;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.security a {
  position: relative;
  display: inline-block;
  margin-left: 54.8%;
  margin-top: 26px;
  padding: 15px 40px 21px 40px;
  font: 1.6rem 'Titillium Web';
  letter-spacing: 0.035rem;
  color: #676767;
  border: 1px solid #B9B9B9;
  border-radius: 35px;
}
.security a:hover {
  box-shadow: 5px 5px 5px #CDCDCD;
}
.security a:before {
  position: absolute;
  top: 29px;
  right: 100%;
  width: 90000%;
  height: 1px;
  display: block;
  background: #B9B9B9;
  content: '';
}
.slider-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 966px;
  height: 66px;
  margin: 40px auto 0 auto;
}
.client1 {
  width: 175px;
  height: 22px;
  background: url(../assets/img/clients/client1a.png) no-repeat center;
}
.client2 {
  width: 150px;
  height: 22px;
  background: url(../assets/img/clients/client2a.png) no-repeat center;
}
.client3 {
  width: 144px;
  height: 28px;
  background: url(../assets/img/clients/client3a.png) no-repeat center;
}
.client4 {
  width: 108px;
  height: 31px;
  background: url(../assets/img/clients/client4a.png) no-repeat center;
}
.client5 {
  width: 195px;
  height: 38px;
  background: url(../assets/img/clients/client5a.png) no-repeat center;
}
.client6 {
  width: 58px;
  height: 41px;
  background: url(../assets/img/clients/client6.png) no-repeat center;
}
.quotes-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  max-width: 600px;
  margin-left: 11.8%;
  padding-top: 57px;
}
.quote-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 71px;
  animation-duration: 1s;
  animation-delay: 0.8s;
}
.quote-controls li{
  width: 13px;
  height: 13px;
  background: #B7B7B7;
  border-radius: 50%;
  cursor: pointer;
}
.quote-controls .active{
  background: #101010;
}
.quotes-wrap {
  width: 550px;
  max-height: 158px;
  overflow-y: auto;
  margin-left: 26px;
  letter-spacing: 0.027rem;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.quote-block {
  display: none;
}
.quote-block.active {
  display: block;
}
.quote-block p{
  font: 2.4rem/31px 'Malaga Regular', 'Times New Roman', serif ;
  font-style: italic;
  color: #101010;
}
.quote-block .quote-author{
  font: 1.6rem/37px 'Malaga Regular', 'Times New Roman', serif;
  font-style: italic;
  color: #727272;
}
.bg-wrapper {
  position: relative;
  width: 100%;
  background: -webkit-linear-gradient(45deg, #FFFFFF, #EEEEEE);
  background: -o-linear-gradient(45deg, #FFFFFF, #EEEEEE);
  background: -moz-linear-gradient(45deg, #FFFFFF, #EEEEEE);
  background: linear-gradient(45deg, #FFFFFF, #EEEEEE);
}
.bg-wrapper:before {
  position: absolute;
  top: -89px;
  width: 102.5%;
  height: 400px;
  display: block;
  background: -webkit-linear-gradient(45deg, #F7F7F7, #EEEEEE);
  background: -o-linear-gradient(45deg, #F7F7F7, #EEEEEE);
  background: -moz-linear-gradient(45deg, #F7F7F7, #EEEEEE);
  background: linear-gradient(45deg, #F7F7F7, #EEEEEE);
  content: '';
  transform: rotate(-6.5deg);
  z-index: -1;
}
.devices-wrap {
  margin-bottom: 183px;
}
.devices-info {
  position: relative;
  max-width: 450px;
  margin-left: 34.6%;
  margin-top: -60px;
  margin-bottom: 20px;
  text-align: right;
  letter-spacing: 0.015rem;
  z-index: 1;
}
.devices-info h3{
  margin-bottom: 8px;
  font: 3.6rem 'Titillium Web';
  line-height: 40px;
  color: #535353;
  letter-spacing: 0.01rem;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.devices-info p{
  padding-right: 5px;
  font: 1.6rem/24px 'Titillium Web';
  color: #9B9A9A;
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.download-button {
  margin-top: 29px;
  padding: 9px 18px 5px 57px;
  border: 0;
  text-align: left;
  color: #fff;
  background: black;
  border-radius: 8px;
  cursor: pointer;
  animation-duration: 1s;
}
.download-button:hover {
  background: #3C3C3C;
}
.download-button2:hover {
  background: url(../assets/img/download-button-icon.png) no-repeat 12px center, #3C3C3C;
}
.download-button span {
  font: 2rem/27px 'Lato Regular';
}
.download-button1 span {
  font-family: "Lato Bold";
  letter-spacing: 0.2rem;
  line-height: 20px;
}
.download-button1 {
  position: relative;
  margin-right: 10px;
  padding: 9px 18px 11px 57px;
  animation-delay: 0.6s;
}
.download-button1 i {
  position: absolute;
  top: 5px;
  left: 13px;
  font: 4rem "Font Awesome 5 Brands";
}
.download-button2 {
  background: url(../assets/img/download-button-icon.png) no-repeat 12px center, black;
  animation-delay: 0.8s;
}
.devices-info img{
  position: absolute;
  top: -272px;
  right: -424px;
  z-index: -1;
}
.currency {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 83px;
  padding: 0 20px;
  padding-top: 59px;
  text-align: center;
}
.currency:before {
  position: absolute;
  top: -20px;
  left: 100%;
  width: 90000%;
  height: 1px;
  margin-left: -100%;
  display: block;
  background: #B9B9B9;
  content: '';
}
.currency:after {
  position: absolute;
  bottom: -83px;
  right: 90%;
  width: 90000%;
  height: 1px;
  margin-right: -100%;
  display: block;
  background: #B9B9B9;
  content: '';
}
.currency h2 {
  font: 3.6rem/40px 'Titillium Web';
  color: #535353;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.currency h3 {
  margin-top: 5px;
  font: 2.9rem/37px 'Titillium Web';
  letter-spacing: 0.02rem;
  color: #7c7c7c;
  animation-duration: 1s;
  animation-delay: 0.4s;
}
.currency .button-decorate {
  margin-top: 37px;
  padding: 13px 40px 16px 40px;
  font: 1.8rem 'Titillium Web';
  font-weight: 700;
  color: #fff;
  border-radius: 35px;
  animation-duration: 1s;
}
.button-decorate.currency-button1 {
  margin-right: 47px;
  background: #646C92;
  background: -webkit-linear-gradient(90deg, #646C92, #5F2E69);
  background: -o-linear-gradient(90deg, #646C92, #5F2E69);
  background: -moz-linear-gradient(90deg, #646C92, #5F2E69);
  background: linear-gradient(90deg, #646C92, #5F2E69);
  letter-spacing: 0.038rem;
  box-shadow: 0px 6px 6px rgba(20, 80, 204, 0.37);
  animation-delay: 0.6s;
}
.currency-button1:hover {
  box-shadow: 0px 6px 6px rgba(20, 80, 204, 0.57);
}
.button-undecorate.currency-button2 {
  margin-top: 20px;
  padding: 13px 46px 16px 47px;
  letter-spacing: 0.05rem;
  color: #582c7e;
  animation-delay: 0.8s;
}
.currency-button2:hover {
  background: #5E7BEA;
  background: -webkit-linear-gradient(90deg, #35BBE0, #5E7BEA);
  background: -o-linear-gradient(90deg, #35BBE0, #5E7BEA);
  background: -moz-linear-gradient(90deg, #35BBE0, #5E7BEA);
  background: linear-gradient(90deg, #35BBE0, #5E7BEA);
  box-shadow: 0px 6px 6px rgba(26, 230, 218, 0.57);
  color: #fff;
}
.currency-button2:hover i {
  color: #fff;
}
footer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding-right: 20px;
  padding-top: 17px;
  background: #fff;
  background: -webkit-linear-gradient(90deg, #FCFCFC, #FFF 10%);
  background: -o-linear-gradient(90deg, #FCFCFC, #FFF 10%);
  background: -moz-linear-gradient(90deg, #FCFCFC, #FFF 10%);
  background: linear-gradient(90deg, #FCFCFC, #FFF 10%);
}
footer:after {
  position: absolute;
  display: block;
  background: #B9B9B9;
  bottom: 0px;
  right: 0px;
  width: 1px;
  height: 1000%;
  content: '';
}
.partners-header {
  font: 1.4rem 'Titillium Web';
  text-align: right;
  letter-spacing: 0.01rem;
  color: #7A7A7A;
}
.slider-partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 974px;
  height: 92px;
  margin-left: auto;
}
.partner1 {
  width: 74px;
  height: 53px;
  background: url(../assets/img/partners/partner1.png) no-repeat center;
}
.partner2 {
  width: 62px;
  height: 49px;
  background: url(../assets/img/partners/partner2.png) no-repeat center;
}
.partner3 {
  width: 105px;
  height: 51px;
  background: url(../assets/img/partners/partner3.png) no-repeat center;
}
.partner4 {
  width: 115px;
  height: 29px;
  background: url(../assets/img/partners/partner4.png) no-repeat center;
}
.partner5 {
  width: 48px;
  height: 47px;
  background: url(../assets/img/partners/partner5.png) no-repeat center;
}
.partner6 {
  width: 124px;
  height: 23px;
  background: url(../assets/img/partners/partner6.png) no-repeat center;
}
.footer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 155px;
}
.contacts {
  padding-left: 19px;
  margin-top: -2px;
  letter-spacing: 0.015rem;
}
.contacts p:nth-child(4) {
  margin-top: 23px;
}
.nav-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  min-width: 529px;
}
.nav-block {
  text-align: right;
}
.nav-wrap .nav-block:first-child {
  position: relative;
}
.nav-wrap .nav-block:first-child:after {
  position: absolute;
  display: block;
  background: #B9B9B9;
  top: 2px;
  right: -34%;
  width: 1px;
  height: 1000%;
  content: '';
} 
.nav-wrap .nav-block:nth-child(2) {
  margin-left: 21px;
}
.contacts {
  position: relative;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.contacts:before {
  position: absolute;
  top: 8px;
  left: -1px;
  width: 1px;
  height: 80%;
  display: block;
  background: #B9B9B9;
  content: '';
}
.contacts p {
  font: 1.4rem/23px 'Titillium Web';
  color: #5C5C5C;
}
.contacts a {
  color: #5C5C5C;
  font-weight: 700;
}
.contacts p:last-child a{
  text-decoration: underline;
  text-underline-position: under;
} 
.contacts p:last-child a:hover{
  color: #353535;
}
.contacts a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.nav-block h3 {
  font: 1.8rem/23px 'Titillium Web';
  font-weight: 700;
  color: #5C5C5C;
  animation-duration: 1s;
  animation-delay: 0.2s;
}
.nav-block ul {
  margin-top: 24px;
  animation-duration: 1s;
}
.nav-block:nth-child(1) ul {
  animation-delay: 0.4s;
}
.nav-block:nth-child(2) ul {
  animation-delay: 0.6s;
}
.nav-block:nth-child(3) ul {
  animation-delay: 0.8s;
}
.nav-block li {
  position: relative;
  padding-right: 16px;
  animation-duration: 1s;
}
.nav-block li:after {
  position: absolute;
  top: 11px;
  right: 3px;
  width: 4px;
  height: 4px;
  background: #5C5C5C;
  content: '';
}

.nav-block a {
  font: 1.4rem/23px 'Titillium Web';
  color: #5C5C5C;
}
.nav-block li:hover a {
  text-decoration: underline;
  text-underline-position: under;
  color: #252525;
}
.sotials-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 63px;
  animation-duration: 1s;
  animation-delay: 0.8s;
}
.sotials-list li{
  position: relative;
  margin-right: 10px;
  padding: 10px;
  font: 1.2rem/23px 'Titillium Web';
  letter-spacing: 0.0rem;
  cursor: pointer;
}
.sotials-list li:first-child {
  padding-left: 0px;
}
.sotials-list li:last-child {
  padding-right: 0px;
}
.sotials-list li:after{
  position: absolute;
  right: -8px;
  top: 11px;
  content: '/';
}
.sotials-list li:last-child:after{
  content: '';
}
.sotials-list a{
  position: relative;
  color: #5C5C5C;
}
.sotials-list a:hover:before {
  position: absolute;
  bottom: -6px;
  height: 1px;
  left: 0;
  width: 100%;
  background: #252525;
  content: '';
}
.sotials-list li:hover a{
  font-weight: 700;
  color: #252525;
}
.copyright {
  font: 1.2rem/19px 'Titillium Web';
  color: #5C5C5C;
  letter-spacing: 0.01rem;
  animation-duration: 1s;
  animation-delay: 0.8s;
}
@media(max-width: 1420px) {
  header .container {
    padding: 0 10px;
  }
}
@media(max-width: 1350px) {
  .advantage-block:nth-child(1):after {
    right: 5px;
  }
  .advantage-block:nth-child(2):after {
    right: 4px;
  }
}
@media(max-width: 1350px) {
  .advantage-block:nth-child(2):after {
    height: 210px;
  }
  .security a:after {
    position: absolute;
    top: -150px;
    right: 156px;
    height: 150px;
    width: 1px;
    display: block;
    background: #B9B9B9;
    content: '';
  }
  .devices-info {
    margin-left: 50%;
    left: -385px;
  }
}
@media(max-width: 1200px) {
  nav {
    margin-right: 0px;
  }
  .advantage {
    padding-left: 10px;
    padding-right: 10px;
  }
  .advantage-block:nth-child(1):after,
  .advantage-block:nth-child(2):after,
  .advantage-block:nth-child(3):after,
  .security a:after,
  footer:after,
  .nav-wrap .nav-block:first-child:after
   {
    display:none;
  }
  .footer-info {
    margin-top: 100px;
  }
}
@media(max-width: 1050px) {
  .nav-wrapper {
    position: relative;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: -50px;
  }
  nav {
    position: absolute;
    left: -16px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 0px;
  }
  nav a {
    position: relative;
    padding: 5px 10px;
    margin-right: 0px;
  }
  .authorization{
    order: 2;
    margin-bottom: 0;
    margin-top: -50px;
  }
}
@media(max-width: 1000px) {
  h2 {
    font-size: 5rem;
    line-height: 55px;
  }
  .security-header {
    left: 0;
    margin: 0 auto;
    text-align: center;
  }
  .advantage {
    flex-wrap: wrap;
  }
  .advantage-block {
    width: 40%;
  }
  .devices-wrap {
    margin-bottom: 83px;
  }
  .devices-info img {
    display: none;
  }
  .devices-info {
    left: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    padding-right: 0px;
  }
  .sotials-list {
    margin-top: 40px;
  }
  .partners-header {
    padding-right: 20px;
  }
  .footer-info {
    flex-direction: column;
    margin-top: 55px;
  }
  .nav-wrap {
    justify-content: space-around;
    margin-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-wrap .nav-block:nth-child(2) {
    margin-left: 0px;
  }
}
@media(max-width: 768px) {
  .authorization {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 120px;
    margin-top: 12px;
  }
  h2 {
    font-weight: 400;
    text-align: center;
  }
  .advantage {
    padding-top: 10px;
  }
  .advantage-block {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  .slider-clients,
  .partners-header,
  .slider-partners{
    display: none;
  }
  .quotes-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  }
  .security .container {
    margin-bottom: 57px;
  }
  .security {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .security a {
    margin-left: auto;
    margin-right: auto;
  }
  .security a:before {
    display: none;
  }
  .quote-block p {
    text-align: left;
  }
  .bg-wrapper:before {
    width: 115%;
    top: -59px;
  }
  .devices-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
  .devices-info {
    margin-top: 0px;
  }
  .footer-info {
    margin-top: 20px;
  }
}
@media(max-width: 650px) {
  header {
    background: -webkit-linear-gradient(0deg, #FFF, #EEEEEE);
    background: -o-linear-gradient(0deg, #FFF, #EEEEEE);
    background: -moz-linear-gradient(0deg, #FFF, #EEEEEE);
    background: linear-gradient(0deg, #FFF, #EEEEEE);
  }
  header .container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .langs-wrap {
    margin-right: 0; 
  }
  .nav-wrapper {
    position: absolute;
    right: 0;
  }
  .advantage-block {
    width: 100%;
  }
  .authorization {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: auto;
  }
  .currency {
    padding-top: 30px;
  }
}
@media(max-width: 530px) {
  .sotials {
    right: 15px;
  }
  .button-decorate.currency-button1 {
    margin-right: 0px;
  }
  .footer-info {
    margin-top: 0px;
    flex-direction: row;
  }
  .nav-wrap {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: auto;
    margin-top: 0px;
  }
  .nav-wrap .nav-block:first-child {
    margin-top: 0px;
  }
  .nav-block {
    padding-right: 20px;
  }
  .nav-block ul {
    margin-top: 0px;
  }
  .nav-wrap .nav-block {
    margin-top: 20px;
  }
  .nav-block h3 {
    margin-top: 10px;
  }
  .nav-wrap .nav-block:first-child h3 {
    margin-top: 0px;
  }
  .currency {
    margin-bottom: 40px;
  }
  .currency:after {
    bottom: -40px;
  }
}
@media(max-width: 430px) {
  header .container {
    max-height: 420px;
    margin-bottom: 0;
  }
  .langs-wrap h1 {
    margin-top: 30px;
  }
  .langs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 0px;
  }
  .langs li {
    margin-right: 0px;
    padding: 5px 10px;
  }
  .langs li:first-child {
    padding-left: 10px;
  }
  .langs li:last-child {
    padding-right: 10px;
  }
  .nav-wrapper {
    top: 80px;
  }
  .authorization {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 120px;
    margin-top: 12px;
  }
  .intro-wrap {
    min-height: 360px;
  }
  .intro-block {
    margin-top: 30px;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 40px;
  }
  h3 {
    font-size: 2.5rem;
    line-height: 30px;
    letter-spacing: 0.03rem;
    color: #858688;
  }

  .security h2 {
    font-size: 3.5rem;
    line-height: 40px;
  }
  .security h3 {
    font-size: 2.2rem;
    line-height: 26px;
  }
  .user-information {
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    margin-top: 20px;
  }
  .quote-block p {
    font-size: 1.8rem;
    line-height: 22px;
  }
  .devices-info h3 {
    font-size: 2.5rem;
    line-height: 30px;
  }
  .currency h2 {
    font-size: 3.5rem;
    line-height: 40px;
  }
  .currency h3 {
    font-size: 2.5rem;
    line-height: 30px;
  }
}
@media(max-width: 376px) {
  .footer-info {
    flex-direction: column;
  }
  .nav-wrap {
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-wrap .nav-block {
    margin-top: 20px;
  }
  .sotials-list {
    margin-top: 20px;
  }
}
 